html, body{
    margin: 0;
    padding: 0;
    background: #03071e;
    color: #eee;
}

body > header{
	height: 70px;
    background: #370617;
    padding: 0 16px;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

body > header nav a{
	color: #FFF;
	padding: 0 0 24px 0;
	text-decoration: none;
}

body > header nav a:hover{
	color: #ff5900;
	border-bottom: 3px solid #ff5900;
}

body > header nav a.active{
	color: #c24400;
	border-bottom: 3px solid #c24400;
}

.logotipo{
	display: flex;
	align-items: center;
}

.logotipo img{
	width: 60px;
	height: 60px;
}

.logotipo h1 span{
	color: #ff5900;
}

nav ul{
	display: flex;
  	list-style-type: none;
  	gap: 16px;
	margin: 0;
	padding: 0;
}

body > main{
	min-height: calc(100vh - 302px);
	padding: 16px;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

body > footer{
	background: #370617;
	color: #000;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-ticker{
	width: 230px;
	height: fit-content;
	background: #0a0a0a;
	border-radius: 20px;
	padding: 16px;
	align-self: baseline;
}

.card-ticker header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-ticker header h2{
	margin: 0;
	font-size: 12px;
}

.card-ticker header h2 span{
	font-weight: normal;
	color: #7b7b7b;
}

.card-ticker header h1{
	margin: 0;
	font-size: 14px;
	font-weight: 500;
} 

.card-ticker main p{
	font-size: 32px;
	margin: 16px 0 2px 0;
} 

.card-ticker main span{
	color: #7b7b7b;
}

.card-ticker main span:nth-child(2){
	background: #02bb2a;
	padding: 3px 16px;
	margin: 0 8px 0 0;
	border-radius: 12px;
	font-size: 14px;
	color: #FFF;
}

.card-ticker footer{
	display: flex;
	justify-content: space-between;
	margin: 26px 0 0 0;
}

.card-ticker footer div:nth-child(2){
	text-align: right;
}

.card-ticker footer div p{
	margin: 0;
	font-size: 18px;
}

.card-ticker footer div span{
	font-size: 14px;
	color: #7b7b7b;
}

table{
	border-collapse: collapse;
}

table th, table td{
	border: 1px solid #7b7b7b;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background: #1e1e1e;
}

tr:nth-child(odd){
	background: #333333;
}

fieldset{
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 15px;
	margin-bottom: 30px;
}

fieldset h5{
	font-size: 1.1rem;	
}

legend{
	font-size: 20px;
	padding: 10px;
}

input[type=text], input[type=email], input[type=password], select, textarea {
	padding: 3px 10px;
	font-size: 15px;
	margin-bottom: 12px;
	border: none;
	background-color: #CCC;
	color: #000000
}

input[type=submit], input[type=reset]{
	border: none;
	margin: 16px 0px;
	cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover{
	background-color: #CCC;
}

input[type=submit]:active, input[type=reset]:active{
	background-color:#7b7b7b;
}

#banner{
	width: 500px;
	height: 300px;
	background: #333333;
	background-image: url('../img/sakuya.jfif');
	background-size: 300px 300px;
	background-repeat: no-repeat;
}

nav div{
	display: none;
}

button {
	background: #ff5900;
	color: #FFF;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#add-card-modal {
	position: absolute;
	background: #000000e1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

#add-card-modal main{
	width: 300px;
	background: #141414;
	border-radius: 15px;
	padding: 20px;
	color: #ffffff;
}

#add-card-modal main h2{
	margin: 0;
}

#add-card-modal main form{
	margin: 20px 0 0 0;
	display: flex;
	flex-direction: column;
}

#add-card-modal main form button{
	margin: 20px 0 0 0;
}

@media (width <= 674px) {
	nav ul {
		display: none;
	}

	nav div {
		display: block;
	}
  }

  @media (width <= 568px) {
	body > main {
		justify-content: center;
	}
  }

  @media (width <= 334px) {
	.card-ticker {
		width: 100%;
	}
  }